#map {
    height: 95vh;
    width: 100%;
  }
  
  /*********************************************************************/
/*          Google Maps Platform - simulations                       */
/*********************************************************************/
#up {
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333;
  text-align: center;
}

p {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333;
  text-align: left;
}

.left-map {
  flex: 1;
  padding: 5px;
  overflow: hidden;
  transition: flex 0.5s ease;
}

.right-map {
  flex: 1;
  padding: 10px;
  background-color: #fefefe;
}


.right-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.primary-button {
  /* Styles for primary buttons */
    --color: #333;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 5px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: white;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }
  
  

  
  #gif-box {
    background-color: #333; /* Background color */
    padding: 10px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    text-align: center; /* Center-align text */
    margin: 0 auto; /* Center horizontally */
}

#gif-box h2 {
    font-size: 24px; /* Heading font size */
    margin-bottom: 10px; /* Space below heading */
    color: #f2f2f2; /* Heading text color */
}

#gif-box p {
    font-size: 16px; /* Paragraph font size */
    color: #f2f2f2; /* Paragraph text color */
    line-height: 1.5; /* Line spacing */
    text-align: left; /* Left-align text within the box */
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

