body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #fffdfa;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333;
  text-align: center;
}

h2 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333;
  text-align: center;
}


/*********************************************************************/
/*          Top Navigation Menu                                      */
/*********************************************************************/

.topnav {
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  z-index: 100;
}

.topnav .icon {
  display: none;
}

.logo {
  float: left;
}

.logo img {
  height: 23px; /* Adjust the height as needed */
  vertical-align: middle;
}

.topnav a {
  float: left;
  color: #fffdfa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #8b93a7;
  color: #fffdfa;;
}

.topnav a.active {
  background-color: #cfab2b;
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
}



/*********************************************************************/
/*          Learn More Button                                        */
/*********************************************************************/

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }


/*********************************************************************/
/*          Main Page                                                */
/*********************************************************************/
/* Title & Learn More Button Container */
.mainTitle {
  display: flex;
  background-color: #fffdfa;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80vh;
  width: 100%;

}
.mainButton {
  display: flex;
  background-color: #fffdfa;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  height: 20vh; 
  width: 100%;

}
/* Bottom Logo Container */
.bottom {
  display: flex;
  background-color: #333;
  height: 150px;
  justify-content: center;
  align-items: center;
  position: relative;
}


#water-section {
	display: flex;
    flex-direction: column;
    width: 100%;
	align-items: center;
	justify-content: center;
}


.content h2 {
	color: #fff;
	font-size: 5em;
	position: absolute;
	transform: translate(-50%, -80%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1px #333;
}

.content h2:nth-child(2) {
	color: #9bc5f5;
	animation: animate 4s ease-in-out infinite;

}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}





.title {
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 600px; /* Set the height to 600px */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
}

.logo {
  height: 50%;
  width: auto;
  max-height: 50%; /* Added to ensure the image doesn't exceed 50% of the container's height */
  max-width: 100%; /* Added to ensure the image doesn't exceed the container's width */
}


.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: hsl(47, 70%, 79%);; /* fffdfa*/
}

video {
  width: 50%;
  height: auto;
}
.info-image {
  width: 50%;
  height: auto;
}
.info-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.info-description {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5em;
}


/*********************************************************************/
/*          Cards: Flooding & Hazard                                 */
/*********************************************************************/
/* Two Cards Container */
.cards {
  display: flex;
  background-color: #fffdfa;
  flex-direction: column;
  padding: 8px;
  margin: 10px;
}

/* Each Card Container */
.card-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 50px;
}

.card {
  flex: 1; /* Distribute available space equally among cards */
  position: relative;
  width: 700px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 5px;
  font-size: 40px;
  color: #333;
  font-weight: 700;
}
.cards h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  color:  rgb(207, 171, 43);
  border: #333;
  font-size: 25px;
}
.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 18px;
  color: #777;
  line-height: 1.4;
}

.card__button {
  padding: 15px;
  border-radius: 8px;
  background: #333;
  border: none;
  color: white;
  margin-top: 25px;
  margin-right: 10px;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}


/*********************************************************************/
/*          Container used in hazard                                 */
/*********************************************************************/

#container1{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


/*********************************************************************/
/*          Contact Page                                             */
/*********************************************************************/

/* The `.contact_container` class is used to style a container element on the contact page. */
.contact_container{
  position: relative;
  min-width: 1100px;
  min-height: 600px;
  display: flex;
  align-items: center;
  z-index: 1000;

}

#mySection{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background: rgb(207, 171, 43);
}

#mySection::before{
  content: '';
  position: absolute;
  top: 55px;
  left: 0;
  width: 50%;
  height: 95%;
  background: #f2f2f2;
}

.contact_container .contactInfo {
  position: absolute;
  width: 350px;
  height: calc(100% - 80px);
  background:  rgb(207, 171, 43);
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgb(255, 255, 255, 0.25);
}

.contact_container .contactInfo .h2 {
  color: #333;
  font-size: 24px;
  font-weight: 500;
}

.contact_container .contactInfo ul.info {
  position: relative;
  margin: 20px 0;
}

.contact_container .contactInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 40px 0;
  cursor: pointer;
  align-items: flex-start;
}

/* Select the first span containing the icon/image inside each li */
.contact_container .contactInfo ul.info li span:nth-child(1) img {
  width: 30px; /* Set the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  display: inline-block; /* Ensure inline alignment */
  filter: invert(1);
}


/* The CSS rule `.contact_container .contactInfo ul.info li span:nth-child(2)` is targeting the second
span element inside each list item (`li`) inside the `ul` element with the class `info` inside the
element with the class `contactInfo` inside the element with the class `contact_container`. */
.contact_container .contactInfo ul.info li span:nth-child(2) {
  color: #000;
  margin-left: 10px;
  font-weight: 300;
}







.contact_container .contactForm {
  position: absolute;
  padding: 70px 80px;
  padding-left: 335px;
  margin-left: 150px;
  width: calc(100% - 250px);
  height: 100%;
  background: #333;
  box-shadow: 0 50px 50px rgb(255, 255, 255, 0.25);

}

.contact_container .contactForm h1{
  color: #f2f2f2;
  font-size: 50px;
  font-weight: 500;
  margin: 10px;;
}

.contact_container .contactForm h2{
  color: #f2f2f2;
  font-size: 25px;
  font-weight: 500;
}


.contact_container #success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contact_container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;

}


.contact_container .contactForm .formBox .inputBox{
  position: relative;
  margin-bottom: 35px;
}


.contact_container .contactForm .formBox .inputBox.w50{
  width: 47%;
}



.contact_container .contactForm .formBox .inputBox.w100{
  width: 100%;
}



.contact_container .contactForm .formBox .inputBox input,
.contact_container .contactForm .formBox .inputBox textarea
{
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #282936;
}

.contact_container .contactForm .formBox .inputBox label{
  display: flex;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}



.contact_container .contactForm .formBox .inputBox button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f2f2f2;
  box-shadow: 0px 6px 24px 0px rgba(242, 242, 242, 0.2);
  overflow: hidden;
  border: none;
}

.contact_container .contactForm .formBox .inputBox button:after {
content: " ";
width: 0%;
height: 100%;
background: rgb(207, 171, 43);
position: absolute;
transition: all 0.4s ease-in-out;
right: 0;
}

.contact_container .contactForm .formBox .inputBox button:hover::after {
right: auto;
left: 0;
width: 100%;
}

/* The above code is defining the CSS styles for a button element within a contact form. It sets the
text alignment to center, removes any text decoration, sets the width to 100%, and adds padding to
the top and bottom (18px) and left and right (25px) of the button. The color of the text is set to
#333, the font size is set to 1.125em, and the font weight is set to 700 (bold). The letter spacing
is set to 0.1em. The z-index is set to 20, which determines the */
.contact_container .contactForm .formBox .inputBox button span {
text-align: center;
text-decoration: none;
width: 100%;
padding: 18px 25px;
color: #333;
font-size: 1.125em;
font-weight: 700;
letter-spacing: 0.1em;
z-index: 20;
transition: all 0.3s ease-in-out;
}

.contact_container .contactForm .formBox .inputBox button:hover span {
color: #333;
animation: scaleUp 0.3s ease-in-out;
}


@keyframes scaleUp {
0% {
  transform: scale(1);
}

50% {
  transform: scale(0.95);
}

100% {
  transform: scale(1);
}
}












/*********************************************************************/
/*         FAQs                                                      */
/*********************************************************************/
#fill{
  padding: 25px;
  height: 12vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.faq-item {
  border: 1px solid #b6b6b6b9;
  padding: 10px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ebebeb;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 5px;
}

.answer {
  display: none;
  padding: 10px;
  background-color: #ebebeb;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.9em;

}

.toggle-answer {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#imagescontainer{
  display: flex;
  flex-direction: row;

}
.answer img {
  display: block; /* This removes any surrounding whitespace */
  margin: 0 auto; /* Center-align images horizontally */
  max-width: 100%;
  width: 50vh;
  height: auto;
  margin-top: 10px;
}




/*********************************************************************/
/*                                                                   */
/*                       Media Queries                               */
/*                                                                   */
/*********************************************************************/

@media (max-width : 1800px)
{

  .contact_container{
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow:none
  }
  .contactInfo{
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
  }
  .contact_container .contactForm{
    position: relative;
    width: calc(100% - 350px);
    padding-left: 500px;
    margin-left: 0;
    padding: 40px;
    height: 550px;
  } 

}

/* Add a CSS media query for screens with a maximum width of 768px */
@media (max-width: 1800px) {
  .contact_container .contactForm{
    padding-left: 500px;
  }
}



@media (max-width: 1500px){
  .card__title {
    margin: 5px;
    font-size: 35px;
  }
  .cards h4 {

    font-size: 20px;
  }

  .card__description {
    margin: 10px 0 10px;
    font-size: 15px;
    line-height: 1.4;
  }
  
  .card__button {
    padding: 15px;
    margin-top: 25px;
    margin-right: 10px;
  }
  
  .secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
  }
  

}

@media (max-width: 1350px){
  .card__title {
    margin: 5px;
    font-size: 25px;
  }
  .cards h4 {
    font-size: 18px;
  }

  .card__description {
    margin: 5px 0 5px;
    font-size: 15px;
    line-height: 1.2;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 10px;
  }

  
}

@media (max-width: 1200px){
  .cards h4 {
    display: none;
  }
  .info-description{
    font-size: 16px;
  }
  
}

@media (max-width: 1000px){
  .card__title {
    margin: 5px;
    font-size: 20px;
  }
  .card__description {
    display: none;
  }
  .info-container {
    flex-direction: column;
  }
  .info-image {
      width: 100%;
      height: auto;
  }
  .info-text {
    width: 100%;
  }
  .info-description{
    font-size: 20px;
    padding: 5%;
  }
  .card__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 970px) {
  /* Adjust the layout for smaller screens */
  #mySection{
    background: #f2f2f2;
  }

  .contact_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }

  .contact_container .contactInfo,
  .contact_container .contactForm {
    position: relative;
    box-shadow: none;
    width: 100%;
    padding: 20px;
    padding-left: 15px;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  .contact_container .contactInfo ul.info li {
    margin: 20px 0;
  }

  .contact_container .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
  .contact_container .contactForm .formBox .inputBox button {
    width: 50%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the button horizontally with top and bottom margin */
    border: 2px solid #b6b6b6; /* Add a border with your desired color */
    border-radius: 5px; /* Optional: Add rounded corners to the button */
  }
}


@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .card {
    width: 100%; 
    margin-bottom: 20px;
  }

  .cards h4 {
    display: block;
  }

  .card__description {
    display: block;
  }
}

@media screen and (max-width: 690px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 690px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

@media (max-width: 580px) {
  .card-container {
    gap: 5px;
  }
  .card__description {
    display: none;
  }
}

@media (max-width: 526px) {

  .cards h4 {
    display: none;
  }
  .info-description{
    font-size: 16px;
    padding: 5%;
  }
}



@media screen and (max-width: 400px) {
  .inner-header h1 {
    margin: 5%;
    font-size: 3em;
}
.inner-header h2 {

  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.25em;
}
.card__title {
  display: none;
}

}

        





